<div id="new-round" class="px-4 py-2 h-full" data-tether-id="select-course">
  <h2>Current Round</h2>
  {{#each this.players as |player|}}
    <div class="mt-4">
      <div class="flex flex-row">
        <div class="items-center">
          <Gravatar @user={{player}} />
        </div>
      </div>
    </div>
  {{/each}}
</div>
