<img class="w-full" src={{model.bannerImgUrl}} alt={{model.name}}>
<div class="flex justify-center">
  <h2 class="px-4 py-2 -mt-6 lock rounded max-w-lg min-w-lg text-center bg-white border">{{model.name}}</h2>

  <div id="course-details" class="px-4 py-2">
  </div>
</div>

