<div id="new-round" class="px-4 py-2 h-full" data-tether-id="select-course">
  <h2>Current Round</h2>
  {{#each players as |player|}}
    <div class="mt-4">
      <div class="flex flex-row">
        <div class="items-center">
          <img class="rounded-full h-8" src={{player.avatarUrl}} alt={{player.username}}>
        </div>
        <div class="text-xl text-grey-darker px-4 items-center">
          {{player.name}}
        </div>
      </div>
    </div>
  {{/each}}
</div>